@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

*{
    box-sizing: border-box;
}
body{
    background-color: #F6F5F5;
    font-family: 'Inter', sans-serif;
}
.container{
    width: 360px;
    margin: 100px auto;
    border-radius: 20px;
    background-color: #FFF;
    padding: 56px 20px 91px 20px;
}
button{
    border: none;
    background-color: #FFF;
} 
button:hover{
    border: 1px solid rgb(72, 72, 131);
}
h1 {
    margin-bottom: 17px;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.search{
    width: 316px;
    height: 44px;
    border-radius: 12px;
    background: #efefef;
    border: transparent;
    padding: 15px;
}
form{
    width: 316px;
    height: 44px;
    border-radius: 12px;
    background: #EFEFEF;
    
}
.menu-items {
    padding: 29px 4px 0px 4px;
}

.position-img {
    width: 74px;
    height: 74px;
    border-radius: 12px;
    background-color: #EFEFEF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.position-title {
    color: #C4C4C4;
    padding: 8px 0 0 0;
    font-size: 16px;
    font-weight: 500;
}

.menu-position {
    display: inline-block;
    margin-right: 24px;
    text-align: center;
    cursor: pointer;
}

.menu-position:last-child {
    margin-right: 0;
}

.menu-position:hover .position-img {
    background-color: #EAE2B7;
}

.menu-position:hover .position-title {
    color: black;
}
h2 {
    margin-top: 32px;
    margin-bottom: 26px;
    color: #003049;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal
}
.burger{
    width: 316px;
    height: 88px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 0px 4px 0px #e5e5e5;
}
.burger:hover{
    background-color: #efefef;
}
.info{
    display: inline-block;
    vertical-align: top;
    color: #003049; 
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.big-mac{
    display: inline-block;
    width: 70px;
    height: 60px;
    margin: 12px 22px 12px 22px;
}
.info {
    display: inline-block;
    vertical-align: top;
}
.kfc{
    display: inline-block;
    width: 70px;
    height: 60px;
    margin: 12px 22px 12px 22px;
}
.fish{
    display: inline-block;
    width: 70px;
    height: 60px;
    margin: 12px 22px 12px 22px;
}
.burger{
    margin: 12px;
}
.price {
    color: #d62828;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.burger-section :nth-child(3){
    margin-top: 12px;
    margin-bottom: 12px;
    
}
.burger-section{
    padding-top: 32px;
    padding-bottom: 91px;   
}