*{
    box-sizing: border-box;
}
/* body{ 
    font-family: "Inter", sans-serif;
} */
 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body{
    margin: 0;
}
.container{
    /* width: 400px; */
    margin: 100px auto;
    background-color: lightcoral;
    text-align: center;
    padding: 50px;
    font-weight: 900;
    line-height: 1.5;
}
